
@media only screen and (max-device-width: 365px){
    .modal-beli-text{
        font-size: 1.5em;
        font-weight: 600;
    }

    .text-harga{
        color: #fcb437;
        font-size: 1.4em;
        font-weight: 600;
    }

    .text-minimal{
        font-size: 0.9em;
        font-weight: 550;
    }

    .text-hubungi{
        font-size: 1.25em;
        font-weight: 700;
    }

    .text-nama-penjual{
        font-size: 1em;
        font-weight: 600;
    }

    .text-nomor-penjual{
        font-size: 1.1em;
        font-weight: 600;        
    }

}
   
   
@media only screen and (min-device-width: 360px){
    .modal-beli-text{
        font-size: 1.5em;
        font-weight: 600;
    }

    .text-harga{
        color: #fcb437;
        font-size: 1.4em;
        font-weight: 600;
    }

    .text-minimal{
        font-size: 0.9em;
        font-weight: 550;
    }

    .text-hubungi{
        font-size: 1.25em;
        font-weight: 700;
    }

    .text-nama-penjual{
        font-size: 1em;
        font-weight: 600;
    }

    .text-nomor-penjual{
        font-size: 1.1em;
        font-weight: 600;        
    }
       
}
   
   
@media only screen and (min-device-width: 576px){
    .modal-beli-text{
        font-size: 1.5em;
        font-weight: 600;
    }

    .text-harga{
        color: #fcb437;
        font-size: 1.4em;
        font-weight: 600;
    }

    .text-minimal{
        font-size: 0.9em;
        font-weight: 550;
    }

    .text-hubungi{
        font-size: 1.25em;
        font-weight: 700;
    }

    .text-nama-penjual{
        font-size: 1em;
        font-weight: 600;
    }

    .text-nomor-penjual{
        font-size: 1.1em;
        font-weight: 600;        
    }

}
   
   
@media only screen and (min-device-width: 768px){
    .modal-beli-text{
        font-size: 1.5em;
        font-weight: 600;
    }

    .text-harga{
        color: #fcb437;
        font-size: 1.4em;
        font-weight: 600;
    }

    .text-minimal{
        font-size: 0.9em;
        font-weight: 550;
    }

    .text-hubungi{
        font-size: 1.25em;
        font-weight: 700;
    }

    .text-nama-penjual{
        font-size: 1em;
        font-weight: 600;
    }

    .text-nomor-penjual{
        font-size: 1.1em;
        font-weight: 600;        
    }

}
   
@media only screen and (min-device-width: 992px){
    .modal-beli-text{
        font-size: 1.5em;
        font-weight: 600;
    }

    .text-harga{
        color: #fcb437;
        font-size: 1.4em;
        font-weight: 600;
    }

    .text-minimal{
        font-size: 0.9em;
        font-weight: 550;
    }

    .text-hubungi{
        font-size: 1.25em;
        font-weight: 700;
    }

    .text-nama-penjual{
        font-size: 1em;
        font-weight: 600;
    }

    .text-nomor-penjual{
        font-size: 1.1em;
        font-weight: 600;        
    }

}
   
@media only screen and (min-device-width: 1200px){
    .modal-beli-text{
        font-size: 1.5em;
        font-weight: 600;
    }

    .text-harga{
        color: #fcb437;
        font-size: 1.4em;
        font-weight: 600;
    }

    .text-minimal{
        font-size: 0.9em;
        font-weight: 550;
    }

    .text-hubungi{
        font-size: 1.25em;
        font-weight: 700;
    }

    .text-nama-penjual{
        font-size: 1em;
        font-weight: 600;
    }

    .text-nomor-penjual{
        font-size: 1.1em;
        font-weight: 600;        
    }
}