
@media only screen and (max-device-width: 365px){
    #Daftar{
        font-size: 0.8em;
    }

    .daftar{
        margin: 5% auto;
        margin-left: 30%;
        color: #201f1f;
    }

    .daftar-body{
        width: 120%;
        min-height: 100%;
        margin-left: 0%;
    }

    .img-size{
        width: 150px;
        height: auto;
        margin: 5% auto; 
        margin-left: 35%;
    }

    .form-check{
        margin: 5% auto;
    }

    .daftar-button{
        width: 50%;
        margin: 0% 35%;
    }
 
}


@media only screen and (min-device-width: 360px){

    #Daftar{
        font-size: 0.8em;
    }

    .daftar{
        margin: 5% auto;
        margin-left: 30%;
        color: #201f1f;
    }

    .daftar-body{
        width: 100%;
        min-height: 100%;
        margin-left: -20%;
    }

    .img-size{
        width: 150px;
        height: auto;
        margin: 5% auto; 
        margin-left: 10%;
    }

    .form-check{
        margin: 5% auto;
    }

    .daftar-button{
        width: 50%;
        margin: 0% 25%;
    }
 
}


@media only screen and (min-device-width: 576px){
    #Daftar{
        font-size: 0.8em;
    }

    .daftar{
        margin: 5% auto;
        margin-left: 30%;
        color: #201f1f;
    }

    .daftar-body{
        width: 100%;
        min-height: 100%;
        margin-left: 10%;
    }

    .img-size{
        width: 150px;
        height: auto;
        margin: 5% auto; 
        margin-left: 25%;
    }

    .form-text-daftar{
        width: 175%;
        font-size: 1em;
    }

    .form-box-daftar{
        width: 50%;
        margin-left: -5%;
    }

    .form-check{
        margin: 5% auto;
    }

    .daftar-button{
        width: 50%;
        margin: 0% 10%;
    }

}


@media only screen and (min-device-width: 768px){
    #Daftar{
        font-size: 0.8em;
    }

    .daftar{
        margin: 5% auto;
        margin-left: 30%;
        color: #201f1f;
    }

    .daftar-body{
        width: 120%;
        min-height: 100%;
        margin-left: 10%;
    }

    .img-size{
        width: 150px;
        height: auto;
        margin: 5% auto; 
        margin-left: 35%;
    }

    .form-text-daftar{
        width: 175%;
        font-size: 1.25em;
    }

    .form-box-daftar{
        width: 50%;
        margin-left: -5%;
    }

    .form-check{
        margin: 5% auto;
    }

    .daftar-button{
        width: 50%;
        margin: 0% 10%;
    }

}

@media only screen and (min-device-width: 992px){
    #Daftar{
        font-size: 0.8em;
    }

    .daftar{
        margin: 5% auto;
        margin-left: 30%;
        color: #201f1f;
    }

    .daftar-body{
        width: 80%;
        min-height: 100%;
        margin-left: 0%;        
    }

    .img-size{
        width: 150px;
        height: auto;
        margin: 5% auto; 
        margin-left: 33%;
    }

    .form-text-daftar{
        width: 150%;
        font-size: 1em;
    }

    .form-box-daftar{
        width: 60%;
        margin-left: -5%;
    }

    .form-check{
        margin: 5% auto;
    }

    .daftar-button{
        width: 50%;
        margin: 0% 15%;
    }

}

@media only screen and (min-device-width: 1200px){
    #Daftar{
        font-size: 0.89em;
    }

    .daftar{
        margin: 5% auto;
        margin-left: 30%;
        color: #201f1f;
    }

    .daftar-body{
        width: 60%;
        min-height: 100%;
        margin-left: 0%;        
    }

    .img-size{
        width: 150px;
        height: auto;
        margin: 5% auto; 
        margin-left: 35%;
    }

    .form-text-daftar{
        width: 100%;
        font-size: 0.9em;
    }

    .form-box-daftar{
        width: 100%;
        margin-left: 0%;
    }

    .form-check{
        margin: 5% auto;
    }

    .daftar-button{
        width: 50%;
        margin: 0% 35%;
    }

}