
@media only screen and (max-device-width: 365px){
    .log-pembelian{
        color: #1d1d1d;
    }

    .container-profile-body{
        margin: 5% auto;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 20%;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -33.7%;
        margin-left: 30%;
        margin-bottom: 0%;
        
        padding-bottom: 5%;
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-size: 1em;
        font-weight: 600;
    }

    .image-size{
        width: 150px;
        height: 150px;

        margin: 0% auto;
    }

    .card-margin{
        margin: 0% 6%;
        margin-left: 8%;
    }

    .card-title{
        font-weight: 600;
    }

    .card-summary{
        color: #fcb437;
        font-size: 1.2em;
        text-align: center;
    }

    .page-number{
        margin-top: 5%;
    }

    .row-margin{
        margin: 2% -5%;
    }
}
   
   
@media only screen and (min-device-width: 360px){
    .log-pembelian{
        color: #1d1d1d;
    }

    .container-profile-body{
        margin: 5% auto;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 20%;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -33.7%;
        margin-left: 30%;
        margin-bottom: 0%;
        
        padding-bottom: 5%;
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-size: 1em;
        font-weight: 600;
    }

    .image-size{
        width: 150px;
        height: 150px;

        margin: 0% auto;
    }

    .card-margin{
        margin: 0% 6%;
        margin-left: 8%;
    }

    .card-title{
        font-weight: 600;
    }

    .card-summary{
        color: #fcb437;
        font-size: 1.2em;
        text-align: center;
    }

    .page-number{
        margin-top: 5%;
    }

    .row-margin{
        margin: 2% -5%;
    }    
}
   
   
@media only screen and (min-device-width: 576px){
    .log-pembelian{
        color: #1d1d1d;
    }

    .container-profile-body{
        margin: 5% auto;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 20%;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -33.7%;
        margin-left: 30%;
        margin-bottom: 0%;
        
        padding-bottom: 5%;
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-size: 1em;
        font-weight: 600;
    }

    .image-size{
        width: 150px;
        height: 150px;

        margin: 0% auto;
    }

    .card-margin{
        margin: 0% 6%;
        margin-left: 8%;
    }

    .card-title{
        font-weight: 600;
    }

    .card-summary{
        color: #fcb437;
        font-size: 1.2em;
        text-align: center;
    }

    .page-number{
        margin-top: 5%;
    }

    .row-margin{
        margin: 2% -5%;
    }
}
   
   
@media only screen and (min-device-width: 768px){
    .log-pembelian{
        color: #1d1d1d;
    }

    .container-profile-body{
        margin: 5% auto;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 20%;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -33.7%;
        margin-left: 30%;
        margin-bottom: 0%;
        
        padding-bottom: 5%;
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-size: 1em;
        font-weight: 600;
    }

    .image-size{
        width: 150px;
        height: 150px;

        margin: 0% auto;
    }

    .card-margin{
        margin: 0% 6%;
        margin-left: 8%;
    }

    .card-title{
        font-weight: 600;
    }

    .card-summary{
        color: #fcb437;
        font-size: 1.2em;
        text-align: center;
    }

    .page-number{
        margin-top: 5%;
    }

    .row-margin{
        margin: 2% -5%;
    }
}
   
@media only screen and (min-device-width: 992px){
    .log-pembelian{
        color: #1d1d1d;
    }

    .container-profile-body{
        margin: 5% auto;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 20%;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -33.7%;
        margin-left: 30%;
        margin-bottom: 0%;
        
        padding-bottom: 5%;
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-size: 1em;
        font-weight: 600;
    }

    .image-size{
        width: 150px;
        height: 150px;

        margin: 0% auto;
    }

    .card-margin{
        margin: 0% 6%;
        margin-left: 8%;
    }

    .card-title{
        font-weight: 600;
    }

    .card-summary{
        color: #fcb437;
        font-size: 1.2em;
        text-align: center;
    }

    .page-number{
        margin-top: 5%;
    }

    .row-margin{
        margin: 2% -5%;
    }
}
   
@media only screen and (min-device-width: 1200px){
    .log-pembelian{
        color: #1d1d1d;
    }

    .container-profile-body{
        margin: 5% auto;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 20%;
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -33.7%;
        margin-left: 30%;
        margin-bottom: 0%;
        
        padding-bottom: 5%;
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-size: 1em;
        font-weight: 600;
    }

    .image-size{
        width: 150px;
        height: 150px;

        margin: 0% auto;
    }

    .card-margin{
        margin: 0% 6%;
        margin-left: 8%;
    }

    .card-title{
        font-weight: 600;
    }

    .card-summary{
        color: #fcb437;
        font-size: 1.2em;
        text-align: center;
    }

    .page-number{
        margin-top: 5%;
    }

    .row-margin{
        margin: 2% -5%;
    }

}