
@media only screen and (max-device-width: 365px){
    .profil{
        color: #1d1d1d;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 15%;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -22.85%;
        margin-left: 30%;
        margin-bottom: 10%;
        
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-weight: 600;
    }

}
   
   
@media only screen and (min-device-width: 360px){
    .profil{
        color: #1d1d1d;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 15%;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -22.85%;
        margin-left: 30%;
        margin-bottom: 10%;
        
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-weight: 600;
    }
       
}
   
   
@media only screen and (min-device-width: 576px){
    .profil{
        color: #1d1d1d;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 15%;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -22.85%;
        margin-left: 30%;
        margin-bottom: 10%;
        
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-weight: 600;
    }
   
}
   
   
@media only screen and (min-device-width: 768px){
    .profil{
        color: #1d1d1d;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 15%;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -22.85%;
        margin-left: 30%;
        margin-bottom: 10%;
        
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-weight: 600;
    }

}
   
@media only screen and (min-device-width: 992px){
    .profil{
        color: #1d1d1d;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 15%;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -22.85%;
        margin-left: 30%;
        margin-bottom: 10%;
        
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-weight: 600;
    }

}
   
@media only screen and (min-device-width: 1200px){
    .profil{
        color: #1d1d1d;
    }

    .card-header-right{
        font-size: 2em;

        margin-top: 3%;
        margin-left: 7%;
        margin-bottom: 0%;
    }

    .card-list-left{
        background-color: #ffffff;

        width: 15%;
        margin-top: 5%;
        margin-left: 10%;
        margin-bottom: 10%;
    }

    .current-directory{
        color: #1d1d1d;
        font-weight: 600;
    }

    .card-list-right{
        background-color: #ffffff;
        
        width: 65%;
        margin-top: -22.85%;
        margin-left: 30%;
        margin-bottom: 10%;
        
    }
    
    .text-list{
        color: #3b3b3b;
        margin: 10% 0%;
    }

    .item-margin{
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .row-name{
        margin-top: 3%;
        margin-left: 5%;
        margin-bottom: 3%
    }

    .row-button{
        margin: 3% auto;
    }

    .button-size{
        width: 120%;
    }

    .form-input{
        width: 80%;
    }

    .text-input{
        color: #ffffff;
    }

    .label-name{
        font-weight: 600;
    }

}